{% extends 'lgnet_app/base.html' %}
{% load static %}
{% block title %}LGNET | Sobre{% endblock %}

{% block content %}
    <section class="dark:text-light-background">
        {% for item in infoEmpresa.all%}
            {% include "lgnet_app/pages/sobre/sections/sobre.html" %}
            {% include "lgnet_app/pages/sobre/sections/visao_missao.html" %}
            {% include "lgnet_app/pages/sobre/sections/complementos.html" %}
            {% include 'lgnet_app/partials/explorar.html' %}
        {% endfor %}
    </section>
{% endblock %}