{% extends 'lgnet_app/base.html' %}
{% block title %}LGNET | Início{% endblock %}

{% block content %}
    {% include 'lgnet_app/pages/principal/sections/carousel.html' %}
    {% include 'lgnet_app/pages/principal/sections/planos.html' %}
    {% include 'lgnet_app/pages/principal/sections/essencial.html' %}
    {% include 'lgnet_app/pages/principal/sections/autoatendimento.html' %}
    {% include 'lgnet_app/pages/principal/sections/app_mobile.html' %}
    {% include 'lgnet_app/partials/explorar.html' %}
{% endblock %}