    <div>
        <h4 class="text-neutral-400 text-sm font-semibold">CONTRASTE</h4>
        <div class="mt-2 mb-6 bg-neutral-300 dark:bg-neutral-700 h-[2px] w-full"></div>
        <div class="grid grid-cols-2 gap-4 *:relative">
            <div>
            <div
                class="cursor-pointer bg-backgroundColor p-8 h-26 rounded-lg relative overflow-hidden shadow-[0_0_1px_3px_var(--color-primary-variant)] dark:shadow-[0_0_1px_1px_#737373] dark:hover:shadow-[0_0_1px_3px_#ffcd00] transition-all"
                data-dark-off
            >
                <div
                class="bg-light-background p-6 h-16 w-26 absolute rounded-[8px_0_0_0] right-0 bottom-0 border-t border-l border-neutral-200 max-w-[80%]"
                >
                <p
                    class="text-xl font-semibold absolute top-1 left-2 text-neutral-950"
                >
                    Aa
                </p>
                </div>
            </div>
            <p class="text-neutral-950 font-semibold absolute top-2 left-2">
                Normal
            </p>
            </div>
            <div>
            <div
                class="bg-dark-primary p-8 h-26 rounded-lg relative overflow-hidden cursor-pointer shadow-[0_0_1px_1px_#e5e7eb] hover:shadow-[0_0_1px_3px_var(--color-primary-variant)] dark:shadow-[0_0_1px_3px_var(--color-secondary)] dark:hover:shadow-[0_0_1px_3px_var(--color-secondary)] transition-all"
                data-dark-on
            >
                <div
                class="bg-dark-variant p-6 h-16 w-26 absolute rounded-[8px_0_0_0] right-0 bottom-0 border-t border-l border-secondary max-w-[80%]"
                >
                <p
                    class="text-xl font-semibold absolute top-1 left-2 text-secondary"
                >
                    Aa
                </p>
                </div>
            </div>
            <p class="text-secondary font-semibold absolute top-2 left-2">
                Alto
            </p>
            </div>
        </div>
    </div>