<div>
    <h4 class="text-neutral-400 text-sm font-semibold">CONTROLE DE FONTE</h4>
    <div class="mt-2 mb-6 bg-neutral-300 dark:bg-neutral-700 h-[2px] w-full"></div>

    <div class="
        grid
        grid-cols-2
        gap-3
        [&>div]:h-26
        [&>div]:px-2
        [&>div]:py-3
        [&>div]:cursor-pointer
        [&>div]:rounded-sm
        [&>div]:transition-all
        [&>div]:shadow-[0_0_2px_1px_var(--color-neutral-300)]
        [&>div]:hover:shadow-[0_0_1px_3px_var(--color-primary-variant)]
        [&>div]:dark:shadow-[0_0_2px_1px_rgba(255,255,255,.1)]
        [&>div]:hover:dark:shadow-[0_0_1px_3px_var(--color-secondary)]
        [&>div>p]:mt-6
        [&>div>p]:text-primary-variant-2
        [&>div>p]:dark:text-light-background
        [&>div>p]:font-semibold
        [&>div>p]:text-sm
    ">
        <div>
            {% include "lgnet_app/partials/header_tools/acessibilidade/icons/tamanho_fonte.html" %}
            <p>Tamanho da fonte</p>
        </div>
        <div>
            {% include "lgnet_app/partials/header_tools/acessibilidade/icons/bold.html" %}
            <p>Destacar letras</p>
        </div>
        <div>
            {% include "lgnet_app/partials/header_tools/acessibilidade/icons/espaco_entre_letras.html" %}
            <p>Espaço entre letras</p>
            </div>
        <div>
            {% include "lgnet_app/partials/header_tools/acessibilidade/icons/espaco_entre_linhas.html" %}
            <p>Espaço entre linhas</p>
        </div>
    </div>
</div>