<div>
    <h4 class="text-neutral-400 text-sm font-semibold">NAVEGAÇÃO</h4>
    <div class="mt-2 mb-6 bg-neutral-300 dark:bg-neutral-700 h-[2px] w-full"></div>

    <div class="
        grid
        grid-cols-2
        gap-3
        [&>div]:h-26
        [&>div]:px-2
        [&>div]:py-3
        [&>div]:cursor-pointer
        [&>div]:rounded-sm
        [&>div]:transition-all
        [&>div]:shadow-[0_0_2px_1px_rgba(0,0,0,.1)]
        [&>div]:hover:shadow-[0_0_1px_3px_#000000]
        [&>div]:dark:shadow-[0_0_2px_1px_rgba(255,255,255,.1)]
        [&>div]:hover:dark:shadow-[0_0_1px_3px_var(--color-secondary)]
        [&>div>p]:mt-6
        [&>div>p]:text-primary-variant-2
        [&>div>p]:dark:text-light-background
        [&>div>p]:font-semibold
        [&>div>p]:text-sm
    ">
        <div>
            {% include "lgnet_app/partials/header_tools/acessibilidade/icons/leitor.html" %}
            <p>Leitor de sites</p>
        </div>
        <div>
            {% include "lgnet_app/partials/header_tools/acessibilidade/icons/sem_som.html" %}
            <p>Parar sons</p>
        </div>
        <div>
            {% include "lgnet_app/partials/header_tools/acessibilidade/icons/link.html" %}
            <p>Destacar links</p>
            </div>
        <div>
            {% include "lgnet_app/partials/header_tools/acessibilidade/icons/sem_imagem.html" %}
            <p>Esconder imagens</p>
        </div>
    </div>
</div>