<nav class="flex gap-6 items-center">
    <ul
    class="flex gap-4 text-[#6F777B] dark:text-[#919ca2] font-semibold **:hover:*:text-primary-variant dark:**:hover:*:text-white **:text-sm lg:**:text-[16px]"
    >
    <li>
        <a onclick="document.modalComponent.close()" href="{%url 'lgnet:sobre' %}" class="relative group">Sobre
        <span class="absolute left-1/2 -bottom-1 w-0 h-[2px] bg-primary-variant dark:bg-[#ffffff] rounded-full transition-all duration-300 group-hover:w-[80%] group-hover:translate-x-[-50%]"></span>
        </a>
    </li>
    <li>
        <a onclick="document.modalComponent.close()" href="{% url 'lgnet:inicio'%}#planos" class="relative group">Planos
        <span class="absolute left-1/2 -bottom-1 w-0 h-[2px] bg-primary-variant dark:bg-[#ffffff] rounded-full transition-all duration-300 group-hover:w-[80%] group-hover:translate-x-[-50%]"></span>
        </a>
    </li>
    <li>
        <a onclick="document.modalComponent.close()" href="{%url 'lgnet:inicio'%}#autoatendimento" class="relative group">Autoatendimento
        <span class="absolute left-1/2 -bottom-1 w-0 h-[2px] bg-primary-variant dark:bg-[#ffffff] rounded-full transition-all duration-300 group-hover:w-[80%] group-hover:translate-x-[-50%]"></span>
        </a>
    </li>
    <li>
        <a onclick="document.modalComponent.close()" href="{%url 'lgnet:inicio'%}#explorar" class="relative group">Explorar
        <span class="absolute left-1/2 -bottom-1 w-0 h-[2px] bg-primary-variant dark:bg-[#ffffff] rounded-full transition-all duration-300 group-hover:w-[80%] group-hover:translate-x-[-50%]"></span>
        </a>
    </li>
    <li>
        <a onclick="document.modalComponent.close()" href="{%url 'lgnet:contato'%}" class="relative group">Contato
        <span class="absolute left-1/2 -bottom-1 w-0 h-[2px] bg-primary-variant dark:bg-[#ffffff] rounded-full transition-all duration-300 group-hover:w-[80%] group-hover:translate-x-[-50%]"></span>
        </a>
    </li>
    </ul>
</nav>
<div class="flex gap-4 items-center">
    <a
    class="text-light-background font-semibold text-sm bg-primary-variant :hover:transition-colors duration-300 hover:bg-primary-hover py-3 px-5 rounded-full **:fill-[#ffffff] dark:bg-[#ffffff] dark:text-dark-variant dark:hover:bg-secondary dark:hover:text-secondary-variant dark:**:fill-secondary-variant flex items-center gap-[6px]"
    href="{%url 'lgnet:conta'%}"
    >
    {% include 'lgnet_app/partials/user.html' %} Minha LGNET
    </a>
</div>