{%load static%}
<section class="py-26 pb-72 px-4">
    <div class="container m-auto grid grid-cols-[1.5fr_2fr] gap-6 relative">
        <img class="absolute -top-10 left-0" src="{% static 'lgnet_app/images/decorador.png' %}" alt="decorador">
        <div>
            <h1>Acesso fácil e rápido a tudo o que você precisa<strong>.</strong></h1>
            <p class="text-neutral-600 font-medium mt-1">Mais facilidade: consulte faturas, revise seus contratos, personalize o Wi-Fi e muito mais direto pelo app.</p>
            <div class="flex flex-col gap-8 *:flex *:gap-4 *:relative *:text-2xl mt-10">
                <div>
                    <span><i class="fa-solid fa-file-invoice-dollar"></i></span>
                    <div>
                        <h2>Veja suas faturas</h2>
                        <p>Acompanhe suas faturas em tempo real, com histórico completo e detalhado.</p>
                    </div>
                    <span class="w-full h-[2px] bg-neutral-300 content-[''] inline-block absolute -bottom-6"></span>
                </div>
                <div>
                    <span><i class="fa-solid fa-folder-open"></i></span>
                    <div>
                        <h2>Acesse seus contratos</h2>
                        <p>Visualize seus contratos sempre que precisar, com segurança e praticidade.</p>
                    </div>
                    <span class="w-full h-[2px] bg-neutral-300 content-[''] inline-block absolute -bottom-4"></span>
                </div>
                <div>
                    <span><i class="fa-solid fa-house-signal"></i></span>
                    <div>
                        <h2>Altere nome e senha do Wi-Fi</h2>
                        <p>Mude facilmente o nome e a senha da sua rede a qualquer momento pelo app.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-6 h-110">
            <div class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px] shadow-xl">
                <div class="w-[148px] h-[18px] bg-gray-800 top-0 rounded-b-[1rem] left-1/2 -translate-x-1/2 absolute"></div>
                <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
                <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
                <div class="h-[64px] w-[3px] bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
                <div class="rounded-[2rem] overflow-hidden w-[272px] h-[320px] bg-white dark:bg-gray-800">
                </div>
            </div>
        </div>
        <img class="absolute -bottom-42 left-0" src="{% static 'lgnet_app/images/decorador.png' %}" alt="decorador">
    </div>
</section>