{% load static %}
{% load components %}

<section class="bg-[#ffffff] dark:bg-dark-variant py-8 px-4 transition-colors duration-300">
    <div class="container m-auto flex flex-col gap-14">
        <div>
            <h1>Facilidade com o nosso autoatendimento<strong>.</strong></h1>
            <p class="text-neutral-600 font-medium">Resolva tudo o que você precisa em poucos cliques.</p>
        </div>

        <div class="grid grid-cols-6 gap-4">
            {% for item in autoatendimento %}
                {% render_autoatendimento icone=item.icone titulo=item.titulo descricao=item.descricao link=item.link %}
            {% endfor %}
        </div>
    </div>
</section>