<!-- Hero Section -->
<section id="hero" class="hero section light-white-background">

    <div class="container-fluid">
    <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
        <h1>VIVA A EVOLUÇÃO</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum non aliquid quae voluptatum sapiente odit a
            asperiores? Ducimus, id molestias similique dolores sit excepturi quibusdam, itaque at repellat est
            adipisci!</p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
    </div>
    </div>

</section><!-- /Hero Section -->