<!DOCTYPE html>
{% load static %}
<html lang="pt-br" class="scroll-smooth">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'lgnet_app/css/output.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href={% static "lgnet_app/images/logo.png" %} type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />

  <title>{% block title %}LGNET | Início{% endblock %}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
  referrerpolicy="no-referrer">

  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  {% block head %}{% endblock %}
</head>

<body class="font-myfont bg-backgroundColor dark:bg-dark-primary transition-colors duration-300">
  {% include 'lgnet_app/partials/header.html' %}
  <main class="main">
    {% block content %}
      {% include 'lgnet_app/carousel.html' %}
      {% include 'lgnet_app/planos.html' %}
      {% include 'lgnet_app/essencial.html' %}
      {% include 'lgnet_app/autoatendimento.html' %}
      {% include 'lgnet_app/app_mobile.html' %}
    {% endblock %}
  </main>
  {% include 'lgnet_app/partials/footer.html' %}

  <!-- Preloader -->
  <div id="preloader"></div>
  
  <script src="{% static 'lgnet_app/js/darkMode.js' %}"></script>
  {% block scripts %}{% endblock %}
</body>

</html>
