<!DOCTYPE html>
{% load static %}
<html lang="pt-br" class="scroll-smooth transition-all">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'lgnet_app/css/output.css' %}" rel="stylesheet">
  <link href="{% static 'lgnet_app/css/custom.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href={% static "lgnet_app/images/logo.png" %} type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />

  <title>{% block title %}LGNET | Início{% endblock %}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
  referrerpolicy="no-referrer">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />

  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  {% block head %}{% endblock %}
</head>

<body class="font-myfont bg-backgroundColor dark:bg-dark-variant transition-colors duration-300">

  <div id="preloader">
    <div class="loader"></div>
  </div>

  <div id="site-wrapper" style="display: none;">
    <div data-modal class="hidden fixed bg-neutral-950/40 top-0 left-0 h-full w-full z-50 backdrop-blur-xs"></div>
    <template data-tpl="selecionar-cidade">
      {% include 'lgnet_app/partials/selecionar_cidade.html' %}
    </template>

    <template data-tpl="bem-vindo">
      {% include 'lgnet_app/partials/bem_vindo.html' %}
    </template>

    {% include 'lgnet_app/partials/header.html' %}
    <main class="main">
      {% block content %}
        {% include 'lgnet_app/carousel.html' %}
        {% include 'lgnet_app/planos.html' %}
        {% include 'lgnet_app/essencial.html' %}
        {% include 'lgnet_app/autoatendimento.html' %}
        {% include 'lgnet_app/app_mobile.html' %}
        {% include 'lgnet_app/explorar.html' %}
      {% endblock %}
    </main>
    {% include 'lgnet_app/partials/footer.html' %}
    <div vw class="enabled vlibras">
      <div vw-access-button class=" active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
    </div>
  </div>

  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget("https://vlibras.gov.br/app");
  </script>
  
  {% block scripts %}
    <script src="{% static 'lgnet_app/js/preloader.js' %}"></script>
    <script type="module" src="{% static 'lgnet_app/js/main.js' %}"></script>
  {% endblock %}
</body>

</html>
