<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>{% block title %}LGNET | Início{% endblock %}</title>
  <style type="text/tailwindcss">
    @theme {
      --color-clifford: #da373d;
    }
  </style>
  <!-- Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>

  {% block head %}{% endblock %}
</head>

<body>
  {% include 'lgnet_app/partials/header.html' %}
  <main class="main">
    {% block content %}
    asdasdasdasdasd
    {% endblock %}
  </main>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <!-- Preloader -->
  <div id="preloader"></div>

  {% block scripts %}{% endblock %}
</body>

</html>
