{% load static %}
{% load components %}
<section>
    <div class="container m-auto grid grid-cols-[minmax(0,_480px)_auto] g-4 py-36 relative">
        <img class="absolute top-10 left-0" src="{% static 'lgnet_app/images/decorador.png' %}" alt="decorador">
        <div>
            <h1 class="max-w-96 text-6xl leading-20">Nós temos o essencial para você<strong class="text-5xl">.</strong></h1>
            <button type="button" class="cursor-pointer tracking-[.1rem] mt-14 text-2xl text-[#ffffff] bg-primary-variant font-semibold rounded-sm px-5 py-3 me-2 mb-2 hover:bg-primary-hover dark:bg-secondary dark:hover:bg-secondary-hover dark:text-secondary-variant transition-colors">Entrar em contato</button>
        </div>


        <div class="grid grid-cols-2 gap-6 essencial text-primary-variant-2 dark:text-[#ffffff] *:bg-[#ffffff]">
            {% for essencial in essenciais.all%}
                {% render_servico_essencial icone=essencial.icone|safe titulo=essencial.titulo descricao=essencial.descricao %}
            {% endfor %}
        </div>
        <img class="absolute bottom-10 left-0" src="{% static 'lgnet_app/images/decorador.png' %}" alt="decorador">
    </div>
</section>