{% load static %}
{% load components %}
<section id="planos" class="bg-light-background dark:bg-dark-primary flex flex-col items-center py-8 px-4 transition-colors duration-300">
  <div class="w-full container flex flex-col py-14">
    <div class="flex items-center justify-between" data-aos="fade-up">

      <h1>Os melhores planos de internet para a sua residência<strong>.</strong></h1>

      <div class="flex flex-col items-end gap-[2px]">
        <p class="text-sm text-neutral-400 font-medium dark:text-[#ffffff]">Ofertas disponíveis em:</p>
        <div class="group/link text-primary text-lg hover:text-primary-hover font-semibold dark:text-secondary dark:hover:text-secondary-hover flex items-center cursor-pointer">
          <svg class="mr-[2px] mb-[2px] *:stroke-primary group-hover/link:*:stroke-primary-hover dark:*:stroke-secondary dark:group-hover/link:*:stroke-secondary-hover h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
          <p class="underline underline-offset-4">Patos-PB</p>
          <i class="fa-solid fa-chevron-down text-xs ml-[2px]"></i>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-[repeat(4,minmax(150px,280px))] gap-4 justify-between mt-16">
      {% for plano in planos.all%}
       {% render_card icone=plano.icone|safe categoria=plano.categoria velocidade=plano.plano destaque=plano.destaque vantagens=plano.vantagens download=plano.download upload=plano.upload %}
      {% endfor %}
    </div>
  </div>
</section>
