{% load static %}
{% load components %}
<section id="planos" class="bg-[#ffffff] dark:bg-dark-variant flex flex-col items-center py-8 px-4 transition-colors duration-300">
  <div class="w-full max-w-[84rem] flex flex-col">
    <div class="flex items-center justify-between" data-aos="fade-up">

      <h2 class="font-bold text-primary dark:text-[#ffffff] text-[28px]">Os melhores planos de internet para a sua residência<strong class="text-secondary">.</strong></h2>

      <div class="flex flex-col items-end">
        <p class="text-sm text-neutral-400 font-medium">Ofertas disponíveis em:</p>
        <h4 class="underline underline-offset-4 text-primary dark:text-secondary text-lg font-semibold">
          Patos-PB
          <i class="fa-solid fa-chevron-down text-xs"></i>
        </h4>
      </div>
    </div>

    <div class="grid grid-cols-[repeat(4,minmax(150px,1fr))] gap-8 justify-between mt-16">
      {% render_card categoria="Básico" velocidade="300MEGA" destaque="False" download="300Mbps" upload="150Mbps" %}
      {% render_card categoria="Família" velocidade="400MEGA" destaque="True" download="400Mbps" upload="200Mbps" %}
      {% render_card categoria="Ultra" velocidade="500MEGA" destaque="False" download="500Mbps" upload="250Mbps" %}
      {% render_card categoria="Gamer" velocidade="600MEGA" destaque="False" download="600Mbps" upload="300Mbps" %}
    </div>
  </div>
</section>
