{% load static %}
{% load components %}
<section id="planos" class="bg-light-background dark:bg-dark-primary flex flex-col items-center py-8 px-4 duration-300 transition-all">
  <div class="w-full container flex flex-col py-14">
    <div class="flex items-center justify-between mb-16" data-aos="fade-up">

      <h1>Os melhores planos de internet para a sua residência<strong>.</strong></h1>

      <div class="flex flex-col items-end gap-[2px]">
        <p class="text-sm text-neutral-400 font-medium dark:text-[#ffffff]">Ofertas disponíveis em:</p>
        <div class="group/link text-neutral-900 text-lg hover:text-primary-hover font-semibold dark:text-secondary dark:hover:text-secondary-hover flex items-center cursor-pointer">
          <svg class="mr-[2px] mb-[2px] *:stroke-neutral-900 group-hover/link:*:stroke-primary-hover dark:*:stroke-secondary dark:group-hover/link:*:stroke-secondary-hover h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
          <p data-local class="underline underline-offset-4">Patos-PB</p>
          <i class="fa-solid fa-chevron-down text-xs ml-[2px]"></i>
        </div>
      </div>
    </div>

    <div
      class="swiper mySwiperPlans relative"
    >
      <div data-swiper-plans class="mb-4 z-40 flex gap-2 justify-end *:flex *:items-center *:justify-center *:h-9 *:w-9 *:p-2 *:rounded-full *:bg-primary-variant *:hover:bg-primary-hover dark:*:bg-secondary dark:*:hover:bg-secondary-hover dark:*:text-secondary-variant *:cursor-pointer *:text-neutral-50 *:transition-all">
        <div class="swiper-plans-button-prev">
          <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="swiper-plans-button-next">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
      <div data-swiper-children class="swiper-wrapper p-1" id="planos-container"></div>
    </div>
  </div>
</section>
