{% extends 'lgnet_app/base.html' %}
{% load static %}
{% block title %}LGNET | Contato{% endblock %}

{% block content %}
    <section class="pt-8 lg:!pt-16 pb-18 lg:!pb-56 bg-light-background dark:bg-dark-primary">
        <div class="container flex flex-col gap-12">
            <div>
                <h1>Fale conosco<strong>.</strong></h1>
                <p class="sub-text">Precisa de ajuda? Tire suas dúvidas, peça informações ou solicite nossos serviços.</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 dark:text-light-background">
                {% include "lgnet_app/pages/contato/sections/form.html" %}
                {% include "lgnet_app/pages/contato/sections/contato_direto.html" %}
            </div>
        </div>
    </section>
    {% include "lgnet_app/partials/explorar.html" %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <link href="https://unpkg.com/maplibre-gl@^5.6.1/dist/maplibre-gl.css" rel="stylesheet" />
  <script src="https://unpkg.com/maplibre-gl@^5.6.1/dist/maplibre-gl.js"></script>
  <script type="module" src="{% static 'lgnet_app/js/contato.js' %}"></script>
{% endblock %}
