{% load static %}
<section class="px-4 py-18 flex items-center bg-light-background dark:bg-dark-primary">
    <div class="container m-auto grid grid-cols-1 lg:!grid-cols-[1fr_1.1fr] py-16 gap-6 relative">
        <img class="absolute -top-8 left-0" src="{% static 'lgnet_app/images/decorador.png' %}" alt="decorador">
        <div class="self-center justify-self-center">
            <h1 class="text-4xl">Acesso fácil e rápido a tudo o que você precisa<strong>.</strong></h1>
            <p class="sub-text mt-3 text-sm">Mais facilidade: consulte faturas, revise seus contratos, personalize o Wi-Fi e muito mais direto pelo app.</p>
            <div class="flex flex-col gap-12 mt-12">
                <span class="lg:hidden">{% include "lgnet_app/partials/utilities/device.html" %}</span>
                {% for mobile in mobiles %}
                    <div class="flex gap-6 relative text-2xl">
                        <span class="self-center h-12 w-12 p-4 rounded-lg bg-primary-variant/10 text-primary-variant flex items-center justify-center dark:text-secondary dark:bg-secondary/10 ">{{mobile.icone|safe}}</span>
                        <div>
                            <h2 class="font-semibold text-[16px] text-primary-variant-2 dark:text-[#ffffff]">{{mobile.titulo}}</h2>
                            <p class="text-sm leading-6 text-primary-variant-2 dark:text-[#ffffff]">{{mobile.descricao}}</p>
                        </div>
                        {{mobile.span|safe}}
                    </div>
                {% endfor %}
            </div>
            <div class="mt-13 *:flex *:gap-2 *:bg-[#202427]/90 *:hover:bg-[#ffffff] *:hover:text-black *:hover:shadow-[0_0_1px_1px] *:px-4 *:py-2 *:w-38 *:rounded-[6px] *:cursor-pointer *:transition-all flex gap-4 text-[#ffffff] dark:*:border-2 *:border-[#ffffff] dark:*:hover:bg-secondary dark:*:hover:text-secondary-variant">
                <a class="group/link" href="#">
                    <span class="text-xl self-center"><i class="fa-brands fa-google-play"></i></span>
                    <div class="font-medium group-hover/link:font-semibold">
                        <h5 class="text-[9px]">Download via</h5>
                        <p class="text-sm -mt-[2px]">Google Play</p>
                    </div>
                </a>
                <a class="group/link" href="#">
                    <span class="text-2xl self-center"><i class="fa-brands fa-apple"></i></span>
                    <div class="font-medium group-hover/link:font-semibold">
                        <h5 class="text-[9px]">Download via</h5>
                        <p class="text-sm -mt-[2px]">App Store</p>
                    </div>
                </a>
            </div>
        </div>
        <span class="hidden lg:block">{% include "lgnet_app/partials/utilities/device.html" %}</span>
        <img class="absolute -bottom-8 left-0" src="{% static 'lgnet_app/images/decorador.png' %}" alt="decorador">
    </div>
</section>