{% load static %}
{% load components %}
<section class="bg-light-background dark:bg-dark-primary px-4">
    <div class="container px-0 grid grid-cols-1 lg:!grid-cols-[minmax(0,_480px)_auto] py-30 lg:py-36 relative">
        <img class="absolute top-10 left-0" src="{% static 'lgnet_app/images/decorador.png' %}" alt="decorador">
        <div class="mb-18 lg:mb-0">
            <h1 class="max-w-72 leading-16 text-balance md:max-w-96 text-5xl md:text-6xl md:leading-20">Nós temos o essencial para você<strong class="text-4xl md:text-5xl">.</strong></h1>
            <span class="hidden lg:block">{% include "lgnet_app/partials/utilities/button.html" %}</span>
        </div>


        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-6 essencial text-primary-variant-2 dark:text-[#ffffff] *:bg-[#ffffff]">
            {% for essencial in essenciais.all%}
                {% render_servico_essencial icone=essencial.icone|safe titulo=essencial.titulo descricao=essencial.descricao %}
            {% endfor %}
        </div>
        <span class="lg:hidden">{% include "lgnet_app/partials/utilities/button.html" %}</span>
        <img class="absolute bottom-10 left-0" src="{% static 'lgnet_app/images/decorador.png' %}" alt="decorador">
    </div>
</section>