{% load static %}
{% load components %}
<section id="planos" class="flex flex-col items-center py-8 px-4 duration-300 transition-all">
  <div class="w-full container px-0 flex flex-col py-6 lg:py-14 animate-fadeIn">
    <div class="flex flex-col-reverse items-start gap-6 lg:gap-1 justify-between mb-8 lg:!mb-16 lg:flex-row lg:items-center" data-aos="fade-up">

      <h1>Os melhores planos de internet para a sua residência<strong>.</strong></h1>

      <div class="flex flex-col items-start lg:!items-end gap-[2px]">
        <p class="text-[12px] lg:text-sm text-neutral-400 font-medium dark:text-[#ffffff]">Ofertas disponíveis em:</p>
        <div class="group/link text-neutral-900 text-lg lg:text-lg hover:text-primary-hover font-semibold dark:text-secondary dark:hover:text-secondary-hover flex items-center cursor-pointer">
          <svg class="mr-[2px] mb-[2px] *:stroke-neutral-900 group-hover/link:*:stroke-primary-hover dark:*:stroke-secondary dark:group-hover/link:*:stroke-secondary-hover h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
          <p data-local class="underline underline-offset-4">Patos-PB</p>
          <i class="fa-solid fa-chevron-down text-xs ml-[2px]"></i>
        </div>
      </div>
    </div>

    <div
      class="swiper mySwiperPlans relative"
    >
      <div data-swiper-plans class="mb-4 z-40 flex gap-2 justify-end *:flex *:items-center *:justify-center *:h-9 *:w-9 *:p-2 *:rounded-full *:bg-primary-variant *:hover:bg-primary-hover dark:*:bg-secondary dark:*:hover:bg-secondary-hover dark:*:text-secondary-variant *:cursor-pointer *:text-neutral-50 *:transition-all">
        <div class="swiper-plans-button-prev">
          <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="swiper-plans-button-next">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
      <div data-swiper-children class="swiper-wrapper p-1" id="planos-container"></div>
    </div>
  </div>
</section>

<template data-tpl="contratar_plano">
  <div data-contratar-plano class="
    p-5
    md:p-8
    fixed 
    top-[50%] 
    left-[50%] 
    translate-y-[-50%] 
    translate-x-[-50%] 
    bg-light-background
    md:w-132
    w-[90vw] 
    rounded-lg 
    z-50
    dark:bg-dark-variant 
    dark:shadow-[0_0_1px_2px_rgba(255,255,255,.1)]
    animate-fadeIn 
    text-primary
    dark:text-light-background
  ">
    <div class="flex justify-between items-center w-full mb-12">
      <h2 class="md:!text-2xl text-xl font-bold dark:text-secondary">Escolha uma das opções</h2>
      <i onclick="document.modalComponent.close()" class="fa-regular fa-circle-xmark cursor-pointer md:!text-3xl text-2xl text-gray-400 dark:!text-light-background hover:text-primary dark:hover:!text-secondary transition-all"></i>
    </div>
    <div class="
      flex 
      flex-col 
      gap-6
      *:transition-colors
      *:cursor-pointer
      *:flex 
      *:gap-3 
      *:items-center 
      *:shadow-[0_0_1px_2px_#003465]
      *:py-1
      *:px-2
      sm:*:py-3
      sm:*:px-4
      *:rounded-sm
      *:hover:bg-primary
      *:hover:text-light-background
      *:hover:[&_svg_path]:fill-light-background
      [&_h3]:text-sm
      sm:[&_p]:text-xs
      [&_h3]:font-bold
      [&_p]:text-[12px]
      [&_p]:font-medium
      [&_svg]:h-6
      [&_svg]:w-6
      [&_svg_path]:fill-primary
      dark:[&_svg_path]:fill-light-background
      dark:*:shadow-[0_0_1px_2px_#ffffff]
      dark:*:hover:bg-secondary
      dark:*:hover:text-secondary-variant
      dark:*:hover:[&_svg_path]:fill-secondary-variant
      dark:*:hover:shadow-[0_0_1px_2px_#ffcd00]
    ">
      <a data-link-whatsapp>
        <span><i class="fa-brands fa-whatsapp text-xl md:!text-3xl"></i></span>
        <div>
          <h3>Contratar pelo whatsapp</h3>
          <p>Fale diretamente com um atendente.</p>
        </div>
      </a>
      <div>
        {% include 'lgnet_app/partials/utilities/cart_icon.html' %}
        <div>
          <h3>Contratar online</h3>
          <p>Contrate sem precisar falar com um atendente.</p>
        </div>
      </div>
    </div>
  </div>
</template>