<a href="{{link}}" class="
    lg:min-h-58
    sm:max-w-48 
    relative 
    px-3 
    py-5 
    rounded-xl 
    text-primary-variant-2 
    bg-light-background
    dark:bg-dark-primary
    shadow-[0_0_0_1px_rgba(0,0,0,0.05)] 
    hover:bg-primary-variant 
    hover:text-[#ffffff] 
    group 
    transition-colors 
    dark:text-[#ffffff] 
    dark:shadow-[0_0_0_1px_rgba(255,255,255,0.5)] 
    hover:shadow-[0_0_0_1px_rgba(255,255,255,1)]
    dark:hover:bg-dark-variant 
    dark:hover:shadow-[0_0_0_2px_rgba(255,205,0,1)]
">
    <span class=" h-7 w-7 overflow-hidden *:fill-primary-variant-2 **:fill-primary-variant-2 group-hover:*:fill-[#ffffff] group-hover:**:fill-[#ffffff] text-2xl dark:*:fill-[#ffffff] dark:**:fill-[#ffffff]">{{icone|safe}}</span>
    <div class="my-6 relative">
        <h2 class="text-[16px] font-medium text-ellipsis text-nowrap  overflow-hidden">
            {{titulo}}
        </h2>
        <span class="absolute h-[3px] content-[''] top-7 w-9 bg-secondary inline-block rounded-full group-hover:bg-[#ffffff]"></span>
        <p class="text-neutral-500 my-4 text-[13px] font-medium group-hover:text-[#ffffff] dark:text-[#ffffff]">{{descricao}}</p>
    </div>
    <span class="absolute right-3 bottom-2 text-xl" ><i class="fa-solid fa-arrow-right"></i></span>
</a>