<div
  class="rounded-lg bg-[#ffffff] shadow-[0_0_1px_1.5px_rgba(0,0,0,.1)] overflow-hidden flex flex-col gap-4
  dark:bg-dark-variant dark:shadow-[0_0_1px_1.5px_rgb(255,255,255)] 
  "
>
  <div class="px-4 py-6">
    <div class="flex items-center justify-center h-9 w-9 p-1 rounded-full bg-neutral-100 *:text-primary-variant-2 *:text-xl dark:bg-dark-variant-2 dark:*:text-[#ffffff]">
      {{icone}}
    </div>
    <h3
      class="text-sm mt-3 font-semibold text-primary-variant-2 w-full dark:text-secondary"
    >
      {{categoria}}
    </h3>
    <p
      class="text-4xl mt-[1px] font-semibold tracking-tight text-primary-variant dark:text-[#ffffff]"
    >
      {{velocidade}}
    </p>
    <p class="pb-2 text-neutral-400 text-xs">100% Fibra óptica</p>
    <div class="h-[2px] w-full bg-neutral-200 rounded-full"></div>
    <ul role="list" class="mt-5 space-y-2 font-normal text-neutral-500 text-sm dark:text-[#ffffff]
    *:flex *:items-center *:gap-x-2
    ">
      {% for vantagem in vantagens%}
        <li>
          <span class="*:text-[17px] *:fill-neutral-500 **:fill-neutral-500 h-5 w-5 flex items-center justify-center *:h-full *:w-full dark:*:fill-[#ffffff] dark:**:fill-[#ffffff]">{{vantagem.icone|safe}}</span>
          <p>{{vantagem.nome_vantagem}}</p>
        </li>
      {% endfor%}
    </ul>
  </div>
  <a
    href="#"
    class=" bg-primary-variant hover:bg-primary-hover text-[#ffffff] text-center text-xl py-3 mt-6 font-semibold transition-colors
    dark:bg-secondary dark:text-dark-variant dark:hover:bg-secondary-hover
    "
    >Assine já</a
  >
</div>
