  <footer id="footer" class="footer bg-primary-variant text-light-background dark:bg-dark-primary py-12">
    {% for item in infoEmpresa.all%}
      <div class="container m-auto flex flex-col gap-13 *:flex">
        <div class="flex-col items-center gap-3 lg:!gap-0 justify-center lg:!flex-row lg:!justify-between ">
            <a
              href="#"
              class="*:w-24 *:h-14 **:fill-white"
            >
              {% include 'lgnet_app/partials/utilities/logo.html' %}
            </a>
            <p class="text-lg font-semibold">{{item.slogan}}</p>
        </div>
        <div 
        class="
          relative
          flex-col
          gap-7 
          justify-center
          lg:gap-17
          lg:flex-row
          lg:justify-start
          [&>div>ul]:text-[16px] 
          [&>div>ul]:text-gray-50 
          [&>div>ul]:font-medium 
          [&>div>ul]:flex 
          [&>div>ul]:flex-col 
          [&>div>ul]:gap-5 
          [&>div>ul>li>a]:transition-all 
          [&>div>ul>li>a]:hover:text-secondary
          [&>div]:text-center
          [&>div>ul]:text-nowrap
          lg:[&>div]:text-left
        ">
          <span class="absolute -top-8 w-full h-[2px] inline-block rounded-xs bg-[#ffffff]/10"></span>
          <div>
            <h3 class="text-xl font-bold mb-3">Institucional</h3>
            <ul>
              <li><a href="{%url 'lgnet:sobre'%}">Quem somos</a></li>
              <li><a href="{%url 'lgnet:acessibilidade'%}">Acessibilidade</a></li>
              <li><a href="http://blog.lgnetpb.com.br/">Nosso blog</a></li>
              <li><a href="{% url 'lgnet:escritorios'%}">Nossos escritórios</a></li>
              <li><a href="https://selecao.lgnetpb.com.br/" target="_blank">Trabalhe conosco</a></li>
            </ul>
          </div>
          <div>
            <h3 class="text-xl font-bold mb-3">Navegação</h3>
            <ul class="text-sm text-gray-50  font-medium flex flex-col gap-2 **:hover:text-secondary">
              <li><a href="{% url 'lgnet:inicio'%}#planos">Planos</a></li>
              <li><a href="{% url 'lgnet:inicio'%}#autoatendimento">Autoatendimento</a></li>
              <li><a href="{% url 'lgnet:inicio'%}#explorar">Explorar</a></li>
              <li><a href="contato">Contato</a></li>
            </ul>
          </div>
          <div>
            <h3 class="text-xl font-bold mb-3">Contato</h3>
              <ul class="text-sm text-gray-50 font-medium flex flex-col gap-2">
                <li>
                  <a class="flex items-center justify-center lg:!justify-start gap-[6px]" href="{% url 'lgnet:inicio'%}#">
                    <span class="transition-all flex items-center justify-center h-8 w-8 rounded-full bg-[#f9fafb] text-xl text-primary-variant dark:bg-amber-100 dark:text-secondary-variant"><i class="fa-regular fa-envelope"></i></span>
                    {{item.email}}
                  </a>
                </li>
                <li>
                  <a class="flex items-center justify-center lg:!justify-start gap-[6px]" href="https://wa.me/{{item.contato|cut:" "}}?text=Olá, gostaria de saber sobre os planos da LGNET." target="_blank">
                    <span class="transition-all flex items-center justify-center h-8 w-8 rounded-full bg-[#f9fafb] text-lg text-primary-variant dark:bg-amber-100 dark:text-secondary-variant"><i class="fa-solid fa-phone"></i></span>
                    {{item.contato}}
                  </a>
                </li>
              </ul>
          </div>
          <div class="w-full flex flex-col items-center lg:!items-end gap-5 text-center lg:!text-right">
            <p class="text-[12px] font-medium max-w-106">{{item.endereco_completo}}</p>
            <div class="flex gap-2">
              {% for item in redeSocial.all %}
                <a class="transition-all flex items-center justify-center h-8 w-8 rounded-full bg-[#f9fafb] text-xl text-primary-variant hover:bg-primary-variant-2 hover:text-light-background hover:text-[22px] dark:bg-amber-100 dark:text-secondary-variant dark:hover:bg-secondary-variant dark:hover:text-amber-100" target="_blank" href="{{item.link}}" alt="{{item.nome}}">
                  {{item.icone|safe}}
                </a>
              {% endfor %}
            </div>
          </div>
          <span class="absolute -bottom-8 w-full h-[2px] inline-block rounded-xs bg-[#ffffff]/10"></span>
        </div>
        <div class="flex-col-reverse lg:flex-row gap-4 lg:!gap-0 justify-center items-center lg:!justify-between text-sm py-3">
          <p>® 2025 LGNET. Todos os direitos reservados.</p>
          <ul class="flex items-center gap-2 font-medium [&>li>a:hover]:underline text-[10px] sm:text-xs">
            <li><a href="#">Termos e condições</a></li>
            <li class="before:h-1 before:w-1 before:bg-[#ffffff] before:rounded-full before:inline-block after:h-1 after:w-1 after:bg-[#ffffff] after:rounded-full after:inline-block flex items-center gap-2">
              <a href="#">Política de privacidade</a>
            </li>
            <li><a href="#">Cookies</a></li>
          </ul>
        </div>
      </div>
    {% endfor %}
  </footer>