{% load static %}
<div
  class="sticky top-0 left-0 z-40 p-3 bg-primary-variant dark:bg-dark-variant flex justify-center items-center transition-colors duration-300 dark:shadow-[0_0_1px_1px_rgba(255,255,255,.1)]"
>
  <div class="flex justify-between container flex-auto">
    <div
      class="left-side flex items-center text-[#ffffff] text-sm md:text-[16px] font-semibold hover:text-primary cursor-pointer transition-all hover:**:transition-all hover:**:stroke-primary dark:hover:text-secondary dark:hover:**:stroke-secondary"
    >
      <svg
        class="mr-[3px] mb-[4px] h-4 w-4"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-map-pin"
      >
        <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
        <circle cx="12" cy="10" r="3"></circle>
      </svg>
      <p data-local class="inline-block">Patos-PB</p>
      <i class="fa-solid fa-chevron-down text-[8px] md:text-[10px] ml-1 mb-[2px]"></i>
    </div>

    {% include "lgnet_app/partials/header_tools/nav_acessibilidade.html" %}
    <button data-btn-acessibilidade class="cursor-pointer flex lg:hidden gap-1 items-center text-light-background hover:text-primary dark:hover:text-secondary transition-all">
      <p class="font-semibold text-[13px]">Menu de Acessibilidade</p>
      <i class="fa-solid fa-angle-right text-xs"></i>
    </button>
  </div>
</div>
<header id="header" class="flex flex-col shadow-lg">
  <div
    class="bg-[#ffffff] dark:bg-dark-variant p-4 flex justify-center transition-colors duration-300"
  >
    <div class="text-[#ffffff] container flex-auto">
      <div class="flex justify-between items-center [&>nav]:hidden [&>div]:hidden [&>nav]:lg:flex [&>div]:lg:flex">
        <a
          href="/"
          class="*:w-20 *:h-12 **:fill-primary-variant dark:**:fill-white"
        >
          {% include 'lgnet_app/partials/logo.html' %}
        </a>
        {% include 'lgnet_app/partials/header_tools/menu.html' %}
        <button data-btn-menu-mobile class="cursor-pointer p-2 flex lg:hidden flex-col gap-[6px] *:h-[2px] *:w-6 *:bg-primary-variant hover:*:bg-primary-hover *:dark:bg-light-background hover:*:dark:bg-secondary *:rounded-full transition-colors">
          <div></div>
          <div></div>
          <div></div>
        </button>
      </div>
    </div>
  </div>
</header>

<template data-tpl="acessibilidade">
  <div data-menu-acessibilidade-mobile class="
    animate-slideIn 
    fixed z-50 
    top-0 
    right-0 
    h-full 
    w-[75vw] 
    bg-light-background 
    dark:bg-dark-primary 
    flex 
    flex-col 
    gap-4 
    items-start 
    dark:shadow-[1px_0_4px_4px_rgba(255,255,255,.05)]
  ">
    <div class="flex items-center justify-between w-full gap-2 bg-primary-variant dark:bg-dark-variant text-light-background pl-6 pr-3 py-5">
      <h2 class="font-semibold text-sm">Menu de Acessibilidade</h2>
      <span onclick="document.modalComponent.close()" class="cursor-pointer hover:text-primary dark:hover:text-secondary transition-colors"><i class="fa-regular fa-circle-xmark text-2xl"></i></span>
    </div>
    <div class="
      px-2
      w-full 
      *:gap-4 
    ">
    <ol
    class="
      w-full 
      flex 
      flex-col
      *:text-sm       
      *:text-primary-variant 
      dark:*:text-light-background  
      *:font-semibold text-white 
      **:tracking-tighter 
      *:*:cursor-pointer 
      *:*:hover:text-primary 
      dark:*:*:hover:text-secondary
      *:py-5
      *:border-b-2
      *:border-neutral-100
      dark:*:border-neutral-100/10
      *:*:py-6
      *:*:pl-6
      *:*:pr-3
      "
    >
      <li><a onclick="document.modalComponent.close()" href="#">1 - Menu</a></li>
      <li><a onclick="document.modalComponent.close()" href="#planos">2 - Conteúdo</a></li>
      <li><a onclick="document.modalComponent.close()" href="#footer">3 - Rodapé</a></li>
      <li>
        <a data-contraste-acessibilidade class="transition-all">
          <span class="mr-1"><i class="fa-solid fa-circle-half-stroke"></i></span>
          <span>Alto Contraste</span>
        </a>
      </li>
    </ol>
    </div>
  </div>
</template>

<template data-tpl="menuMobile">
  <div data-menu-mobile class="animate-slideIn fixed z-50 top-0 right-0 h-full w-[75vw] bg-light-background dark:bg-dark-primary flex flex-col gap-4 items-start
  ">
    <div class="flex items-center justify-between w-full gap-2 bg-primary-variant dark:bg-dark-variant text-light-background pl-6 pr-3 py-5">
      <h2 class="font-semibold text-lg">Menu</h2>
      <span onclick="document.modalComponent.close()" class="cursor-pointer hover:text-primary dark:hover:text-secondary transition-colors"><i class="fa-regular fa-circle-xmark text-2xl"></i></span>
    </div>
    <div class="pl-6 pr-3 w-full flex flex-col gap-8 mt-6
      [&>nav>ul>li]:pb-5
      [&>nav>ul]:flex-col 
      [&>nav>ul]:gap-8
      [&>nav>ul]:w-full       
      [&>nav>ul>li]:border-b-2
      [&>nav>ul>li]:border-neutral-100
      dark:[&>nav>ul>li]:border-neutral-100/10 ">
        {% include 'lgnet_app/partials/header_tools/menu.html' %}
    </div>
  </div>
</template>