{% load static %}
<div
  class="sticky top-0 left-0 z-40 p-3 bg-primary-variant dark:bg-dark-variant flex justify-center items-center transition-colors duration-300"
>
  <div class="flex justify-between container flex-auto hover:text">
    <div
      class="left-side flex items-center text-[#ffffff] text-[16px] font-semibold hover:text-primary cursor-pointer transition-all hover:**:transition-all hover:**:stroke-primary *:h-4 *:w-4 dark:hover:text-secondary dark:hover:**:stroke-secondary"
    >
      <svg
        class="mr-[3px] mb-[4px]"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-map-pin"
      >
        <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
        <circle cx="12" cy="10" r="3"></circle>
      </svg>
      Patos-PB
      <i class="fa-solid fa-chevron-down text-[10px] ml-1 mt-[1px]"></i>
    </div>
    <div class="flex items-center justify-center gap-[25px]">
      <ol
        class="flex gap-10 *:text-sm *:font-semibold text-white **:tracking-tighter **:cursor-pointer **:hover:text-primary dark:**:hover:text-secondary"
      >
        <li><a href="#">1 - Menu</a></li>
        <li><a href="#planos">2 - Conteúdo</a></li>
        <li><a href="#footer">3 - Rodapé</a></li>
      </ol>
      {% include 'lgnet_app/partials/acessibilidade.html' %} 
    </div>
  </div>
</div>
<header id="header" class="flex flex-col shadow-lg">
  <div
    class="bg-[#ffffff] dark:bg-dark-variant p-4 flex justify-center transition-colors duration-300"
  >
    <div class="text-[#ffffff] container flex-auto">
      <div class="flex justify-between items-center">
        <a
          href="/"
          class="*:w-20 *:h-12 **:fill-primary-variant dark:**:fill-white"
        >
          {% include 'lgnet_app/partials/logo.html' %}
        </a>
        <nav class="flex gap-6 items-center">
          <ul
            class="flex gap-4 text-neutral-400 font-semibold **:hover:*:text-primary-variant dark:**:hover:*:text-white"
          >
            <li>
              <a href="#" class="relative group">Sobre
                <span class="absolute left-1/2 -bottom-1 w-0 h-[2px] bg-primary-variant dark:bg-[#ffffff] rounded-full transition-all duration-300 group-hover:w-[80%] group-hover:translate-x-[-50%]"></span>
              </a>
            </li>
            <li>
              <a href="#" class="relative group">Planos
                <span class="absolute left-1/2 -bottom-1 w-0 h-[2px] bg-primary-variant dark:bg-[#ffffff] rounded-full transition-all duration-300 group-hover:w-[80%] group-hover:translate-x-[-50%]"></span>
              </a>
            </li>
            <li>
              <a href="#" class="relative group">Autoatendimento
                <span class="absolute left-1/2 -bottom-1 w-0 h-[2px] bg-primary-variant dark:bg-[#ffffff] rounded-full transition-all duration-300 group-hover:w-[80%] group-hover:translate-x-[-50%]"></span>
              </a>
            </li>
            <li>
              <a href="#" class="relative group">Explorar
                <span class="absolute left-1/2 -bottom-1 w-0 h-[2px] bg-primary-variant dark:bg-[#ffffff] rounded-full transition-all duration-300 group-hover:w-[80%] group-hover:translate-x-[-50%]"></span>
              </a>
            </li>
            <li>
              <a href="#" class="relative group">Contato
                <span class="absolute left-1/2 -bottom-1 w-0 h-[2px] bg-primary-variant dark:bg-[#ffffff] rounded-full transition-all duration-300 group-hover:w-[80%] group-hover:translate-x-[-50%]"></span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="flex gap-4 items-center">
          <a
            class="text-[#ffffff] font-semibold text-sm bg-primary-variant :hover:transition-colors duration-300 hover:bg-primary-hover py-3 px-5 rounded-full **:fill-[#ffffff] dark:bg-[#ffffff] dark:text-dark-variant dark:hover:bg-secondary dark:hover:text-secondary-variant dark:**:fill-secondary-variant flex items-center gap-[6px]"
            href="#"
          >
            {% include 'lgnet_app/partials/user.html' %} Minha LGNET
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
