@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


:root {
  --primary-color: #000e63;
  --primary-variant: #2C76AC;
  --secondary-color: #ffcd00;
  --secondary-variant: #2A2500;
  --font: "Montserrat", sans-serif;
}

body {
  font-family: var(--font);
}

.light-background {
  background-color: rgb(255, 255, 255);
}

.dark-background {
  background-color: #f3f3f3f3;
}

@source "../../../**/*.{html,py,js}";
