@import "tailwindcss";

:root {
  --primary-color: #000e63;
  --primary-variant: #2C76AC;
  --secondary-color: #ffcd00;
  --secondary-variant: #2A2500;
}

.light-background {
  background-color: rgb(255, 255, 255);
}

.dark-background {
  background-color: #f3f3f3f3;
}

@source "../../../**/*.{html,py,js}";
