@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url('./swiper-banners.css');

body {
  font-family: "Montserrat", sans-serif !important;
}

.btn {
  border-radius: 4px !important;
}

.main-sidebar {
  background-color: #f0f0f0 !important;
}

.content-wrapper {
  background-color: #e9e9e9 !important;
}

.user-panel .image i {
  color: #001f3f;
}

.btn-success-edited {
  background-color: #2da72f;
}

.vlibras {
  right: -6px !important;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.dark #preloader{
  background: #191919;
}

.loader {
  border: 8px solid #dedede;
  border-top: 8px solid #0093D2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.dark #preloader .loader {
  border: 8px solid #606060;
  border-top: 8px solid #ffcd00;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-variant);
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-hover);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary-hover);
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}