.btn {
    border-radius: 4px !important;
}

.main-sidebar {
    background-color: #f0f0f0 !important;
}

.content-wrapper {
    background-color: #e9e9e9 !important;
}

.user-panel .image i {
    color: #001f3f;
}

.btn-success-edited {
    background-color: #2DA72F;
}