@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-myfont: "Montserrat", sans-serif;
  --color-primary: #003465;
  --color-primary-variant: #1F9FD5;
  --color-primary-variant-2: #04080B;
  --color-primary-hover: #184c76;

  --color-secondary: #ffcd00;
  --color-secondary-variant: #2a2500;

  --color-secondary-hover: #c49000;
  --color-backgroundColor: #f9f9fa;
  --color-light-background: #ffffff;

  --color-dark-primary: #232324;
  --color-dark-variant: #111111;
  --color-dark-variant-2: #2f2f2f;

  --animate-fadeIn: fadeIn .3s  forwards;
  --animate-fadeOut: fadeOut .3s  forwards;
  --animate-fadeInOut: fadeInOut 3s forwards;
  --animate-hiddenItem: hiddenItem .4s forwards;
  --animate-slideIn: slideIn .3s forwards;
  --animate-slideOut: slideOut .3s forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.6);
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    to {
      opacity: 1;
      transform: scale(1);
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    to {
      opacity: 0;
      transform: scale(0);
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: scale(0);
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    10% {
      opacity: 1;
      transform: scale(1);
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    90% {
      opacity: 1;
      transform: scale(1);
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
      display: none;
      animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }

  @keyframes hiddenItem {
    0% {
      opacity: 0;
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      transform: scale(1);
    }
    100% {
      opacity: 1;
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      transform: scale(0);
    }
  }

  @keyframes slideIn {
    from {
      animation-timing-function: ease;
      transform: translateX(100%);
    }
    to {
      animation-timing-function: ease;
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      animation-timing-function: ease;
      transform: translateX(0);
    }
    to {
      animation-timing-function: ease;
      transform: translateX(100%);
    }
  }
}

@utility container {
  max-width: 1240px !important;
  margin: auto;
}

@layer components {
  .container h1 {
    @apply font-bold;
    @apply text-primary;
    @apply dark:text-[#ffffff];
    @apply text-2xl;
    @apply lg:text-[30px];
  }

  .container h1 > strong {
    @apply text-secondary;
    @apply ml-[1.5px];
  }

  .sub-text {
    @apply text-neutral-600;
    @apply font-medium;
    @apply dark:text-secondary;
  }

  .essencial > :nth-child(even) {
    @apply md:relative;
    @apply md:-top-8;
  }

  .essencial > div > h2 {
    @apply before:absolute;
    @apply before:left-0;
    @apply before:-bottom-2;
    @apply before:inline-block;
    @apply before:h-1;
    @apply before:w-12;
    @apply before:rounded-full;
    @apply before:bg-secondary;
    @apply before:mr-2;
    @apply text-2xl;
    @apply flex;
    @apply items-center;
    @apply font-medium;
  }

  .error {
    @apply !text-red-700;
    @apply !border-1;
    @apply !border-red-700;
  }
}
